<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border = '1' style="border:1 px solid black;">
        <thead>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Confirm Date</th>
            <th>Comments</th>
        </thead>
        <tbody>
            <tr th:each="rsvp: ${rsvps}">
                <td th:utext="${rsvp.fullName}"></td>
                <td th:utext="${rsvp.email}"></td>
                <td th:utext="${rsvp.phone}"></td>
                <td th:utext="${rsvp.confirmationDate}"></td>
                <td th:utext="${rsvp.comments}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>